extends ../../layouts/common

block content

  h1 Create Book

  form(action="/route/create", method="POST")

    label Title: 

    p 
      input(type="text", name= "title")

    label Description: 

    p
      input(type="text", name= "description")

    p 
      button Create
