extends ../../layouts/common

block content

  h1(class="text-center") Create Book

  form(action="/route/create", method="POST", class="d-flex")

    label Title: 

    p 
      input(type="text", name= "title", class="d-flex")

    label Description: 

    p
      input(type="text", name= "description", class="form-control")

    p 
      button(type="submit", class="btn btn-primary ml-2") Create
