extends ../../layouts/common

block content

  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Libary
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='/route')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Transactions
        li.nav-item
          a.nav-link(href='#') Book List
        li.nav-item
          a.nav-link(href='#') Login
        li.nav-item
          a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled


  h1(class="text-center") Transactions Libary

  form(action="/transaction/view",  class="d-flex justify-content-center")

    button(type="submit", class="btn btn-outline-primary") View

  h1(class="text-center") Login User

  form(action="/users/login", method="GET", class="d-flex justify-content-center")

    button(type="submit", class="btn btn-outline-primary") Login

  h1(class="text-center") Book List

  form(action="/route/create", class="d-flex justify-content-center")

    button(type="submit", class="btn btn-outline-primary") Add Title

  form(action="/route/search", method="GET", class="d-flex justify-content-center")

    input(type="text", name= "q", class="form-control")

    button(type="submit", class="btn btn-outline-primary ml-2") Search 

  ul(class="list-group")
    each book in books
      li(class="list-group-item")
        p(class="d-flex justify-content-center") Title:
          span &nbsp
          span= book.title
        p(class="d-flex justify-content-center") Description:
          span &nbsp
          span= book.description
        //TẠO KHOẢN CÁCH
        span &nbsp;
        ul(class="nav justify-content-center")
          li(class="nav-item") 
            a(class="btn btn-outline-primary", href='/route/update/' + book.bookId, value="Submit") Update
          li(class="nav-item") 
            a(class="btn btn-outline-primary ml-2", href='/route/delete/' + book.bookId) Delete


      
    