extends ../../layouts/common

block content

  h1(class="text-center") Create User

  form(action="/users/create", method="POST", class="d-flex")

    label User Name: 

    p 
      input(type="text", name= "name", class="form-control")

    p 
      button(type="submit", class="btn btn-outline-primary ml-2") Create