extends ../../layouts/common

block content

  h1 Users List

  form(action="/users/create")

    button(type="submit", class="btn btn-primary") Add User

  form(action="/route")

    button Back

  form(action="/users/search", method="GET")

    input(type="text", name= "q")

    button(type="submit", class="btn btn-primary") Search

  ul
    each user in users
      li
        p Name:
          span &nbsp
          span= user.name
          //TẠO KHOẢN CÁCH
        span &nbsp; 
        a(href='/users/update/' + user.userId) Update
        span &nbsp; 
        a(href='/users/delete/' + user.userId) Delete