h1 Book List

form(action="/users/create")

  button Add Title

form(action="/users/search", method="GET")

  input(type="text", name= "q")
    
  button Search

ul
  each book in books
    li
      p Title:
        span &nbsp
        span= book.title
      p Description:
        span &nbsp
        span= book.description
      //TẠO KHOẢN CÁCH
      span &nbsp; 
      a(href='/user/update/' + book.id) Update
      span &nbsp; 
      a(href='/user/delete/' + book.id) Delete