h1 Users List

form(action="/route/users/create")

  button Add User

form(action="/users/search", method="GET")

  input(type="text", name= "q")
    
  button Search
  
ul
  each user in users
    li= user.name
    //TẠO KHOẢN CÁCH
      span &nbsp; 
      a(href='/user/update/' + book.id) Update
      span &nbsp; 
      a(href='/user/delete/' + book.id) Delete