extends ../../layouts/common

block content

  h1(class="text-center") Users List

  form(action="/users/create", class="d-flex")

    button(type="submit", class="btn btn-primary") Add User

  form(action="/route", class="d-flex")

    button(type="submit", class="btn btn-primary") Back

  form(action="/users/search", method="GET", class="d-flex")

    input(type="text", name= "q", class="form-control")

    button(type="submit", class="btn btn-primary ml-2") Search

  ul
    each user in users
      li
        p Name:
          span &nbsp
          span= user.name
          //TẠO KHOẢN CÁCH
        span &nbsp; 
        a(class="btn btn-outline-primary", href='/users/update/' + user.userId) Update
        span &nbsp; 
        a(class="btn btn-outline-primary", href='/users/delete/' + user.userId) Delete