extends ../../layouts/common

block content

  h1 Users Update

  form(action="", method="POST")

    label Name: 

    p 
      input(type="text", name= "name" value=name)

    button(type="submit", class="btn btn-primary") Edit