h1 Book List

h6
  form(action="/route/create")
    button Add Title

  form(action="/route/search")

    input(type="text", name= "q")
    
    button Search

ul
  each book in books
    li 
      span= book.title
      //TẠO KHOẢN CÁCH
      span &nbsp; 
      a(href='/route/' + book.id) Delete
      
      
    