h1 Book List

form(action="/route/create")
  button New

form(action="/route/search", method="GET")

  input(type="text", name= "q")
  
  button(type= "submit") Search

ul
  each book in books
    li 
      span= book.title
      //TẠO KHOẢN CÁCH
      span &nbsp; 
      a(href='/route/' + book.description) View
      
      
    