h1 Book List

form(action="/route/create")

  button Add Title

form(action="/route/search", method="GET")

  input(type="text", name= "q")
    
  button Search

ul
  each book in books
    li 
      span= book.title
      //TẠO KHOẢN CÁCH
      span &nbsp; 
      a(href='/route/update/' + book.title) Update
      span &nbsp; 
      a(href='/route/delte/' + book.id) Delete
      
      
    