style.
  table, tr, th, td {
    border: 1px solid black;
    }
body
  h1 Search

    table(style='width:100%')
      tr
        th ID
        th User
        th Book
        th Done
      each transaction in transactions
        tr
          td= transaction.transactionId
          td= transaction.userId
          td= transaction.bookId
          td= 