h1 Transactions Libary

form(action="/transactions/create")

  button Add User
  
form(action="/route")

  button Back

form(action="/transactions/search", method="GET")

  input(type="text", name= "q")
    
  button Search
//  
  ul
  each transaction in transactions
    li
      p Name:
        span &nbsp
        span= transaction.name
        //TẠO KHOẢN CÁCH
      span &nbsp; 
      a(href='/transactions/update/' + transaction.id) Update
      span &nbsp; 
      a(href='/transactions/delete/' + transaction.id) Delete
      
table(style='width:100%')
  tr
    th Selecte
    th Option
  tr 
    td transaction.userid
    td transaction.bookid